.Link {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}
.Link:hover {
  color: rgb(255, 164, 28);
}
.Shoes {
  font-size: 25px;
  font-weight: bold;
}
.Text {
  color: rgb(0, 118, 0);
  font-weight: bold;
}
.Cart {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15s;
}
.Cart:hover {
  background-color: rgb(230, 195, 20);
}
.Cart:active {
  opacity: 0.5;
}
.Buy {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15s;
}
.Buy:hover {
  background-color: rgb(230, 149, 28);
}
.Buy:active {
  opacity: 0.5;
}