.text {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
button {
  cursor: pointer;
}



.text2 {
  font-size: 30px;
}
.pickup {
  display: block;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
  background-color: rgb(240, 240, 240);
  border: 0;
}
.des {
  display: block;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 30px;
  background-color: rgb(240, 240, 240);
  border: 0;
}
.request {
  background-color: black;
  color: white;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 110px;
  margin-right: 20px;
}
.schedule {
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
}