.contain {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: top;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  vertical-align: top;

}
.cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: right;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  margin-bottom: 100px;
}




.Mail {
  font-size: 18px;
  margin-bottom: 0;
}
.Text {
  font-size: 18px;
}
.E {
  margin-top: 5px;
  width: 360px;
  height: 20px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
}
.A {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0;
  border-radius: 70px;
  margin-bottom: 100px;
  background-color: rgb(54, 54, 213);
  color: white;
  display: block;
}



.B {
  width: 90px;
  margin-left: 10px;
  border-radius: 50px;
  vertical-align: middle;
}
input {
  border: none;
  font-size: 20px;
  width: 300px;
}
.Message {
  background-color: rgb(0, 145, 255);
  color: white;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 70px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.Div {
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 10px 10px 10px rgba(141, 133, 128, 0.15);
}




