body {
  margin: 0;
}

.top {
  background-color: rgba(0, 0, 0, 1);
  height: 500px;
  margin-top: 60px;
}

.info-container {
  color: white;
  margin-top: 100px;
  position: absolute;
  left: 100px;
  font-family: sans-serif;
}

.info-container div {
  margin-bottom: 20px;
}

.welcome {
  font-size: 30px;
  letter-spacing: 2px;
}

.name {
  font-size: 60px;
  font-weight: bold;
  font-family: cursive;
}

.profile-container {
  display: flex;
  height: 400px;
  width: 300px;
  position: relative;
  left: 1000px;
  top: 100px;
}

.profile {
  height: 400px;
  width: 300px;
  object-fit: cover;
  position: absolute;
  right: 200px;
  bottom: 50px;
  margin-top: 100px;
}

.middle {
  background-color: lightblue;
  height: 500px;
}